/*================ FONT IMPORTATION ====================*/
@font-face { font-family: "logoFont";
            src: url("./static/fonts/Righteous/Righteous-Regular.tff") format("tff");}

@font-face { font-family: "AppFont";
            src: url("./static/fonts/Noto_Sans/static/NotoSans_Condensed-Black.tff") format("tff");}
         

* {
    margin: 0;
    font-family: sans-serif;
}
/*============= 'index.html' STYLING ===============*/
/* HEADER STYLING */
.header {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-items: center;
    align-items: center;
    height: 100px;
}
.headerName {
    color: rgb(25, 21,77);
    font-family: "logoFont",sans-serif;
}
.headerBar {
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.headerBar .headerSearch {
    width: 500px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    font-size: 110%;
    border: 1px solid rgb(25, 21,77);
}
.headerBar .headerSearch:valid,
.headerBar .headerSearch:active {
    outline: rgb(25, 21,77);
}
.headerBar .headerSearch:focus {
    box-shadow: 0px 0px 1px 1px grey;
    color: rgb(25, 21,77);
}

.headerBar .headerButton {
    border: 1px solid rgb(25, 21,77);;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(25, 21,77);;
}
.headerButtonIcon {
    width: 40px;
    height: 40px;
}
.headerBar .headerButton:hover {
    box-shadow: 0px 0px 1px 1px rgb(25, 21,77);
}
.headingGreeting {
    font-size: 150%;
    font-family: sans-serif;
    color: rgb(25, 21,77);
}

/* SIDEBAR STYLING */
.section {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    height: 650px;
}
.section .sideBar {
    width: 250px;
    border: 1px solid black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}
.section .sideBar .barItem {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 220px;
    border-radius: 20px;
}
.section .sideBar .barItem1 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    margin-left: 30px;
    margin-right: 30px;
    width: 220px;
    border-radius: 20px;
}
.section .sideBar .barItem:hover {
    background-color: rgb(226, 230, 255);
}

.section .sideBar .barItem1 .barItemButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-left: 140px;
    color: white;
    background-color: rgb(25, 21,77);
    font-weight: bold;
}
.section .sideBar .barItem1 .barItemButton:hover {
    box-shadow: 0px 0px 1px 1px rgb(25, 21,77);
}
.section .sideBar .barItem .barItemImage {
    width: 50px;
    margin-left: 10px;
}
.section .sideBar .barItem .barItemName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 110%;
    margin-left: 10px;
    color: rgb(25, 21,77);
}

/*============= 'login.html' STYLING ===============*/

.loginSection {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}
.loginSection .loginForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 500px;
    border: 1px solid black;
}