{% extends "WakeUpApp/layout.html" %}
{% load static %}
{% load i18n %}

{% block body %}
    <section class="section">
        <aside class="sideBar">
            <div class="barItem1">
                <p class="barItemButton">></p>
            </div>
            <div class="barItem">
                <img class="barItemImage" src="{% static "icons/homeIcon.png" %}">
                <p class="barItemName">Dashboard</p>
            </div>
            <div class="barItem">
                <img class="barItemImage" src="{% static "icons/tasksIcon.png" %}">
                <p class="barItemName">Completed Tasks</p>
            </div>
            <div class="barItem">
                <img class="barItemImage" src="{% static "icons/notificationsIcon.png" %}">
                <p class="barItemName">Notifications</p>
            </div>
            <div class="barItem">
                <img class="barItemImage" src="{% static "icons/favouriteIcon.png" %}">
                <p class="barItemName">Favourites</p>
            </div>
            <div class="barItem">
                <img class="barItemImage" src="{% static "icons/settingsIcon.png" %}">
                <p class="barItemName">Settings</p>
            </div>
            <div class="barItem">
                <img class="barItemImage" src="{% static "icons/logoutIcon.png" %}">
                <p class="barItemName">Logout</p>
            </div>
        </aside>
        <main class="main">

        </main>
    </section>

{% endblock %}