{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <title>WakeUp!</title>
        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <link href="{% static "javascript/dynamic.js" %}">
    </head>
    <body>
        <header class="header">
            <h1 class="headerName">WakeUp!</h1>
            <div class="headerBar">
                <input class="headerSearch" type="text" name="search" placeholder="Search Here...">
                <div class="headerButton"><img class="headerButtonIcon" src="{% static "icons/searchIcon.png" %}"></div>
            </div>
            {% if user.is_authenticated %}
                <p class="headingGreeting">Hey! Amahle</p>
            {% else %}
                <p class="headingGreeting">Login | Register</p>
            {% endif %}
        </header>
        {% block body %}
        {% endblock body %}
    </body>
</html>